@page
@model FribergCarRazorPages.Pages.Admin.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="detailbg">
    <h3>Are you sure you want to delete this?</h3>
    <dl class="row">
        <dt class="headdetails">
            Booking Number
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        <dt class="headdetails">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="headdetails">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Delete" class="buttonNegative" />
        <button>
        <a asp-page="./Index">Back</a>
        </button>
    </form>
</div>
