@page
@model FribergCarRazorPages.Pages.Admin.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="detailbg">
    <h3>Are you sure you want to delete this?</h3>
    <dl class="row">
        <dt class="headdetails">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="headdetails">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="headdetails">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="descdetails">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>       
    </dl>
    </div>
<div class="navdetails">
    <form method="post">
        <input type="hidden" asp-for="Car.CarId" />
        <input type="submit" value="Delete" class="buttonNegative"/> 
        <button>
        <a asp-page="./Index">Back</a>
        </button>
    </form>
</div>
