@page
@model FribergCarRazorPages.Pages.Admin.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="detailbg">
    <h1>Car Information</h1>
    <div> 
        <div class="slideshow">
            <img src="@Url.Content(Model.Car.Picture1)" alt="image 1" />           
        </div><br />
        <div class="slideshow">
            <img src="@Url.Content(Model.Car.Picture2)" alt="image 2"  />
        </div>  
        <dl class="row">
            <dt class="headdetails">
                @Html.DisplayNameFor(model => model.Car.Brand):
            </dt>
            <dd class="descdetails">
                @Html.DisplayFor(model => model.Car.Brand)
            </dd>
            <dt class="headdetails">
                @Html.DisplayNameFor(model => model.Car.Model):
            </dt>
            <dd class="descdetails">
                @Html.DisplayFor(model => model.Car.Model)
            </dd>
            <dt class="headdetails">
                @Html.DisplayNameFor(model => model.Car.Price) per day:
            </dt>
            <dd class="descdetails">
                @Html.DisplayFor(model => model.Car.Price)
            </dd>
        </dl>
    </div>
    <div class="navdetails">
        <button class="buttonFunction">
            <a asp-page="./Edit" asp-route-id="@Model.Car.CarId">Edit</a>
        </button>
        <button>
            <a asp-page="./Index">Back</a>
        </button>
    </div>
</div>